@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
}

span {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: bold;
}
